/* EditAdmin.css */

body.sb-nav-fixed {
    background-color: #f0f0f0; /* Fondo blanco suave */
    font-family: Arial, sans-serif;
}

header h1 {
    font-size: 1.8em;
    font-weight: bold;
    color: #000; /* Negro */
    margin-top: 20px;
}

.container {
    margin-top: 30px;
}

.form-group {
    margin-bottom: 1rem;
}

    .form-group label {
        font-weight: bold;
        color: #333; /* Gris oscuro para el texto */
    }

.form-control {
    border-radius: 4px;
    border: 1px solid #333; /* Borde gris oscuro */
    padding: 0.5rem;
    background-color: #fff; /* Blanco */
    color: #000; /* Negro */
}

    .form-control:focus {
        border-color: #000; /* Negro */
        box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.15); /* Sombra negra suave */
    }

.btn-primary {
    background-color: #000; /* Negro */
    border-color: #000;
    color: #fff; /* Blanco */
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

    .btn-primary:hover {
        background-color: #333; /* Gris oscuro */
        border-color: #333;
    }

.back-button {
    margin-top: 20px;
}

    .back-button .btn {
        background-color: #333; /* Gris oscuro */
        color: #fff; /* Blanco */
        border-radius: 4px;
        text-decoration: none;
        padding: 0.5rem 1rem;
    }

        .back-button .btn:hover {
            background-color: #000; /* Negro */
        }
