:root {
    --primary-color: #000;
    --secondary-color: #fff;
    --accent-color: #f3f4f6;
    --text-color: #333;
    --border-color: #e5e7eb;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--secondary-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: var(--primary-color);
}

/* Navbar */
.sb-topnav.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: var(--primary-color);
    padding: 0.5rem 1rem;
}

.navbar-brand {
    color: var(--secondary-color);
    font-weight: bold;
}

/* Sidebar */
.sb-sidenav-dark {
    background-color: var(--primary-color);
}

.sb-sidenav-menu .nav-link {
    color: rgba(255, 255, 255, 0.5);
    padding: 0.75rem 1rem;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
    transition: all 0.15s ease-in-out;
}

    .sb-sidenav-menu .nav-link:hover {
        color: var(--secondary-color);
        background-color: rgba(255, 255, 255, 0.1);
    }

/* Formulario */
.form-group label {
    color: var(--text-color);
}

input.form-control {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
}

    input.form-control:focus {
        border-color: var(--primary-color);
        box-shadow: none;
    }

.text-danger {
    color: red;
}

/* Botones */
.btn {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--primary-color);
}

    .btn:hover {
        background-color: #333;
        color: var(--secondary-color);
    }

    .btn:focus, .btn:active {
        background-color: #222;
        color: var(--secondary-color);
        border-color: #444;
    }

/* Botón Volver */
.back-button .btn {
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

    .back-button .btn:hover {
        background-color: var(--primary-color);
        color: var(--secondary-color);
    }

/* Navbar Links */
.navbar-nav .nav-item .nav-link {
    color: var(--secondary-color);
}

    .navbar-nav .nav-item .nav-link:hover {
        color: #f8f9fa;
    }

/* Ajuste de Input */
input[type="date"] {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

#layoutSidenav_content {
    padding: 1.5rem;
    flex-grow: 1;
}

.container-fluid {
    max-width: 1200px;
    margin: 0 auto;
}
