.navbar {
    background-color: #007bff;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.btn-custom {
    padding: 0.375rem 1rem;
}

.navbar-icon {
    color: #007bff;
    background-color: white;
    border-radius: 50%;
    padding: 0.3rem;
    font-size: 1.5rem;
}

.navbar-text {
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

/* Estilos para el botón de búsqueda */
.search-btn {
    padding: 0.375rem 1.5rem;
    color: #007bff;
    background-color: white;
    border: 1px solid #007bff;
}

    .search-btn i {
        margin-left: 0.5rem;
    }

/* Estilos para el ícono de menú y el contenido desplegable */
.navbar-icon {
    color: #007bff;
    background-color: white;
    border-radius: 50%;
    padding: 0.3rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%; /* Para que el menú se despliegue justo debajo del icono */
    left: 0;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 1px solid #007bff;
    border-radius: 4px;
}

    .dropdown-content a {
        color: #007bff;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-weight: bold;
        font-size: 14px;
    }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
            color: #0056b3;
        }

.show {
    display: block;
}

/* Contenedor de búsqueda */
.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #007bff;
    border-radius: 4px;
    background-color: white;
    overflow: hidden;
    width: 100%;
}

/* Campo de entrada para búsqueda */
.search-input {
    border: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    color: #007bff;
    outline: none;
    flex: 1;
}

/* Ícono de búsqueda */
.search-icon {
    padding: 0 0.5rem;
    color: #007bff; /* Cambia el color del ícono para que contraste */
    display: flex;
    align-items: center;
}

    .search-icon i {
        font-size: 1.25rem; /* Ajusta el tamaño del ícono si es necesario */
    }
