/* Barra de navegación */
.navbar {
    background-color: #007bff; /* Azul claro */
    padding: 0.5rem 1rem;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

    .navbar-brand i {
        font-size: 1.8rem; /* Tamaño del ícono */
        color: white;
    }
/* Botón de iniciar sesión */
.btn-outline-light {
    border: 2px solid white;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: start; /* Alinea los elementos hacia la izquierda */
    gap: 0.5rem; /* Espaciado entre el ícono y el texto */
    width: 200px; /* Ajusta el ancho del botón para que el ícono quede centrado a la izquierda */
    padding: 0.5rem 1rem;
}

    /* Ícono en el botón */
    .btn-outline-light i {
        font-size: 1.5rem; /* Tamaño del ícono */
    }

    /* Hover para el botón */
    .btn-outline-light:hover {
        background-color: white;
        color: #007bff;
        border-color: #007bff;
        transition: 0.3s ease-in-out;
    }
