@model Drogueria_Elcafetero.Models.sales_invoices

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>sales_invoices</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id_sale" class="control-label"></label>
                <input asp-for="id_sale" class="form-control" />
                <span asp-validation-for="id_sale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="issue_number" class="control-label"></label>
                <input asp-for="issue_number" class="form-control" />
                <span asp-validation-for="issue_number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="issue_date" class="control-label"></label>
                <input asp-for="issue_date" class="form-control" />
                <span asp-validation-for="issue_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="total_invoice" class="control-label"></label>
                <input asp-for="total_invoice" class="form-control" />
                <span asp-validation-for="total_invoice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="state" class="control-label"></label>
                <input asp-for="state" class="form-control" />
                <span asp-validation-for="state" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
