@model Drogueria_Elcafetero.Models.suppliers

@{
    ViewData["Title"] = "Crear Proveedor";
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Proveedor</title>
    <link rel="stylesheet" href="~/css/style3.css">
</head>
<body>
    <div class="container">
        <h1>Crear Proveedor</h1>

        <h4>Información del Proveedor</h4>
        <hr />

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="supplier_name" class="control-label">Nombre del Proveedor</label>
                <input asp-for="supplier_name" class="form-control" />
                <span asp-validation-for="supplier_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telephone" class="control-label">Teléfono</label>
                <input asp-for="telephone" class="form-control" />
                <span asp-validation-for="telephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label">Correo Electrónico</label>
                <input asp-for="email" type="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>

        <div>
            <a class="btn-secondary" asp-action="Index">Volver a la Lista</a>
        </div>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>
