@model Drogueria_Elcafetero.Models.suppliers_invoices

@{
    ViewData["Title"] = "Editar Factura de Proveedor";
    Layout = null;
}

<h1>Editar Factura de Proveedor</h1>
<link rel="stylesheet" href="~/css/editAdmin.css">
<h4>Detalles de la Factura</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id_supplier_invoice" />

            <div class="form-group">
                <label asp-for="id_purchase_order" class="control-label"></label>
                <input asp-for="id_purchase_order" class="form-control" type="number" />
                <span asp-validation-for="id_purchase_order" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="invoice_number" class="control-label"></label>
                <input asp-for="invoice_number" class="form-control" type="text" />
                <span asp-validation-for="invoice_number" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="issue_date" class="control-label"></label>
                <input asp-for="issue_date" class="form-control" type="date" />
                <span asp-validation-for="issue_date" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="total_invoice" class="control-label"></label>
                <input asp-for="total_invoice" class="form-control" type="number" step="0.01" />
                <span asp-validation-for="total_invoice" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="state" class="control-label"></label>
                <input asp-for="state" class="form-control" type="text" />
                <span asp-validation-for="state" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="button-group">
    <a asp-action="Index" class="btn btn-secondary">Volver al Listado</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
