@model Drogueria_Elcafetero.Models.suppliers_invoices

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>suppliers_invoices</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id_supplier_invoice" />
            <div class="form-group">
                <label asp-for="id_purchase_order" class="control-label"></label>
                <input asp-for="id_purchase_order" class="form-control" />
                <span asp-validation-for="id_purchase_order" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="invoice_number" class="control-label"></label>
                <input asp-for="invoice_number" class="form-control" />
                <span asp-validation-for="invoice_number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="issue_date" class="control-label"></label>
                <input asp-for="issue_date" class="form-control" />
                <span asp-validation-for="issue_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="total_invoice" class="control-label"></label>
                <input asp-for="total_invoice" class="form-control" />
                <span asp-validation-for="total_invoice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="state" class="control-label"></label>
                <input asp-for="state" class="form-control" />
                <span asp-validation-for="state" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
