:root {
    --primary-color: #000;
    --secondary-color: #fff;
    --accent-color: #f3f4f6;
    --text-color: #333;
    --border-color: #e5e7eb;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--secondary-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: var(--primary-color);
}


/* Formulario */
.form-group label {
    color: var(--text-color);
}

input.form-control {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
}

    input.form-control:focus {
        border-color: var(--primary-color);
        box-shadow: none;
    }

.text-danger {
    color: red;
}

/* Botones */
.btn {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--primary-color);
}

    .btn:hover {
        background-color: #333;
        color: var(--secondary-color);
    }

    .btn:focus, .btn:active {
        background-color: #222;
        color: var(--secondary-color);
        border-color: #444;
    }

/* Botón Volver */
.back-button .btn {
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}


