@model Drogueria_Elcafetero.Models.sales_invoices

@{
    ViewData["Title"] = "Editar Factura de Venta";
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Factura de Venta</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/editAdmin.css">
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand ps-3" asp-controller="Home" asp-action="Admin">Administrador</a>
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" asp-controller="Inicio" asp-action="Login">Cerrar Sesión</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseEmpleados" aria-expanded="false" aria-controls="collapseEmpleados">
                            <div class="sb-nav-link-icon"><i class='bx bx-group'></i></div>
                            Empleados
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseEmpleados" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" asp-area="" asp-controller="Employees" asp-action="Index">Lista De Empleados</a>
                            </nav>
                        </div>
                        @*
                        <div class="sb-sidenav-menu-heading">Productos</div> *@
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseProductos" aria-expanded="false" aria-controls="collapseProductos">
                            <div class="sb-nav-link-icon"><i class='bx bx-cart'></i></div>
                            Productos
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseProductos" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" asp-area="" asp-controller="Products" asp-action="Index">Lista De Productos</a>
                                <a class="nav-link" asp-area="" asp-controller="categories" asp-action="Index">Lista De Categorías</a>
                            </nav>
                        </div>

                        @* <div class="sb-sidenav-menu-heading">Ordenes</div> *@
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseOrdenes" aria-expanded="false" aria-controls="collapseOrdenes">
                            <div class="sb-nav-link-icon"><i class='bx bx-list-ul'></i></div>
                            Ordenes
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseOrdenes" aria-labelledby="headingThree" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" asp-area="" asp-controller="purchase_orders" asp-action="Index">Lista De Ordenes</a>
                                <a class="nav-link" asp-area="" asp-controller="purchase_orders_details" asp-action="Index">Detalles De Ordenes</a>
                                <a class="nav-link" asp-area="" asp-controller="purchase_orders_invoice" asp-action="Index">Facturas</a>
                            </nav>
                        </div>

                        @* <div class="sb-sidenav-menu-heading">Proveedores</div> *@
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseProveedores" aria-expanded="false" aria-controls="collapseProveedores">
                            <div class="sb-nav-link-icon"><i class='bx bx-store'></i></div>
                            Proveedores
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseProveedores" aria-labelledby="headingThree" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" asp-area="" asp-controller="suppliers" asp-action="Index">Lista De Proveedores</a>
                                <a class="nav-link" asp-area="" asp-controller="suppliers_invoices" asp-action="Index">Facturas</a>
                                <a class="nav-link" asp-area="" asp-controller="discount_suppliers_invoices" asp-action="Index">Descuentos</a>
                            </nav>
                        </div>

                        @* <div class="sb-sidenav-menu-heading">Ventas</div> *@
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseVentas" aria-expanded="false" aria-controls="collapseVentas">
                            <div class="sb-nav-link-icon"><i class='bx bx-dollar'></i></div>
                            Ventas
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseVentas" aria-labelledby="headingThree" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" asp-area="" asp-controller="sales" asp-action="Index">Lista De Ventas</a>
                                <a class="nav-link" asp-area="" asp-controller="sales_details" asp-action="Index">Detalles De Venta</a>
                                <a class="nav-link" asp-area="" asp-controller="sales_invoices" asp-action="Index">Facturas</a>
                            </nav>
                        </div>

                        @* <div class="sb-sidenav-menu-heading">Direcciones</div> *@
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseDirecciones" aria-expanded="false" aria-controls="collapseDirecciones">
                            <div class="sb-nav-link-icon"><i class='bx bx-map'></i></div>
                            Direcciones
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseDirecciones" aria-labelledby="headingFour" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" asp-area="" asp-controller="addresses" asp-action="Index">Lista De Direcciones</a>
                                <a class="nav-link" asp-area="" asp-controller="city_towns" asp-action="Index">ciudades</a>
                            </nav>
                        </div>

                        @* <div class="sb-sidenav-menu-heading">Usuarios</div> *@
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseUsuarios" aria-expanded="false" aria-controls="collapseUsuarios">
                            <div class="sb-nav-link-icon"><i class='bx bx-user-circle'></i></div>
                            Usuarios
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseUsuarios" aria-labelledby="headingFour" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" asp-area="" asp-controller="users" asp-action="Index">Lista De Usuarios</a>
                            </nav>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div id="layoutSidenav_content">
            <main class="container">
                <header>
                    <h1>Editar Factura de Venta</h1>
                </header>

                <div class="container">
                    <h4>Detalles de la Factura de Venta</h4>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="id_invoice" />

                                <div class="form-group">
                                    <label asp-for="id_sale" class="control-label"></label>
                                    <input asp-for="id_sale" class="form-control" type="number" min="0" />
                                    <span asp-validation-for="id_sale" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="issue_number" class="control-label"></label>
                                    <input asp-for="issue_number" class="form-control" type="text" />
                                    <span asp-validation-for="issue_number" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="issue_date" class="control-label"></label>
                                    <input asp-for="issue_date" class="form-control" type="date" />
                                    <span asp-validation-for="issue_date" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="total_invoice" class="control-label"></label>
                                    <input asp-for="total_invoice" class="form-control" type="number" step="0.01" min="0" />
                                    <span asp-validation-for="total_invoice" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="state" class="control-label"></label>
                                    <input asp-for="state" class="form-control" type="text" />
                                    <span asp-validation-for="state" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <input type="submit" value="Guardar" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="button-group">
                        <a asp-action="Index" class="btn btn-secondary">Volver al Listado</a>
                    </div>
                </div>
            </main>

            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Droguería El Cafetero 2024</div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/js/scripts.js"></script>
</body>
</html>
